<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<link href="RPNCalculator.css" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Quicksand:400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="RPNCalculatorAngular.js"></script>
		<script src="RPNCalculatorApp.js"></script>

	</head>
	<body ng-app="RPNCalculator" ng-controller="MainController" >
		<div class="container">
			<div class="results">
				<div class="wStack results-stack"><span style="text-align: left">w:</span><span class="wNum numStack" style="text-align: right"></span></div>
				<div class="zStack results-stack"><span style="text-align: left">z:</span><span class="zNum numStack" style="text-align: right"></span></div>
				<div class="yStack results-stack"><span style="text-align: left">y:</span><span class="yNum numStack" style="text-align: right"></span></div>
				<div class="xStack results-stack"><span style="text-align: left">x:</span><span class="xNum numStack" style="text-align: right"></span></div>
			</div>
			<div ng-repeat="contain in containers" class={{contain.containName}}>
				<table class={{contain.tableName}}>
					<tr ng-repeat="Row in contain.rowArray" class={{Row.rowName}}>
						<td ng-repeat="Cell in Row.cellArray" class={{Cell.cellName}}>
							<div class={{Cell.buttonName}} id={{Cell.buttonID}} type="button">{{Cell.buttonHTML}}</div>
						</td>
					</tr>
				</table>
			</div>
	</body>
</html>